<!-- image_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Detail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Image Detail</h1>

    <div>
        <p>Name: {{ image.name }}</p>
        <p>File Size: {{ image.size}}</p>
    </div>

    <div>
        <h2>Image Display:</h2>
        <img src="{{ image.url }}" alt="{{ image.name }}">
    </div>
</body>
</html>
